.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  width: 10em;
  height: 10em;
  border: 2px solid red;
  border-radius: 50%;
  line-height: 10em;
  text-align: center;
  background: mistyrose;
}

.plusMinus {
  font-size: 10em;
}